<nav class="navbar">
    <div class="navbar-title">TOURNAMENT CREATOR</div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/creator'>Create</a></li>
        </ul>
    </div>
</nav>