<%- include('includes/start.ejs') %>

<title><%=title%></title>
</head>
<body>

    <%- include('includes/navbar.ejs') %>
    <p>Congratulations! Your Tournament has been created! :)</p>



<%- include('includes/end.ejs') %>
