.login {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
  margin-top: 10px;
}

.login-btn {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: var(--dark);
  color: var(--light);
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  margin: 10px 0px 0px 10px;
}

.login-btn:hover {
  background-color: var(--light);
  color: var(--dark)
}